
/* ----------------------------------------------------------非表示→表示---------------------------------------------------------- */
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 15pt;
    font-weight: bold;
    width: 100pt;
    /* border:1pt solid; */
    display: block;
    /* border: solid 2px black; */
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

/* ----------------------------------------------表示→非表示----------------------------------------------------------- */
/* https://techacademy.jp/magazine/25173 */
.show_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.show_box label {
    /* padding: 15pt; */
    font-weight: bold;
    font-size: 25px;
    width:max-content;
    /* border:1pt solid; */
    display: block;
    /* border: solid 2px black; */
    cursor :pointer;
    /* padding-top: 0px; */
}

/*ボタンホバー時*/
.show_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.show_box input {
    display: none;
}

/*中身を表示にしておく*/
.show_box .show_hidden {
    /* height: 0; */
    padding: 0;
    overflow: hidden;
    /* opacity: 0; */
    transition: 0.8s;
    /* display: inline;  */
    border-left:3px solid #aca9a9 ;
    padding-left: 20px;
    margin-left: 15px;
}

/*クリックで中身非表示*/
.show_box input:checked ~ .show_hidden {
    display: none;
}
/* ---------------------------------------リンクの色について ------------------------------------------------*/
/* https://techacademy.jp/magazine/21233 */
/* 訪問済みリンクの色を変えない */
a.no-color-change {
    color: blue;
}
/* カーソルが来たら色を変える */
a.no-color-change:hover {
    color: red;
    opacity: 0.8;
}


/* ----------------------------------------------キャラアイコン-------------------------------------------------------------- */
/* http://www.stylish-style.com/csstec/base/position.html */
/* 目次ページでのアイコン */
.chara-icon {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 33%;
    max-width: 50px;
    margin-right: 0.5%;
    position: relative;
    top: 6px;
}

/* 各キャラの対策ページでのアイコン */
.chara-page-icon {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 33%;
    max-width: 100px;
    margin-right: 0.5%;
    position: relative;
    top: 14px;
}

.chara-icon-tab {
    padding: 0px;
    width: 100px;
}

.chara-choice {
    width: 96px;
    height: 55px;
    background-color: white;
    padding: 0px;
    margin-bottom: -9px;
    margin-right: -1px;
    margin-left: -1px;
}

/* -------------------------------------------タブメニュー--------------------------------------------------------------- */
/* https://bagelee.com/design/css/create_tabs_using_only_css/ */

/*タブ切り替え全体のスタイル*/
.tabs {
    /* margin-top: 50px; */
    padding-bottom: 40px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    width: auto;
    margin: 0;
    overflow-x: auto;
}
  
/*タブのスタイル*/
.tab_item {
    width: 200px;
    height: 50px;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    cursor: pointer;
    opacity: 0.6;
}

.tab_item:hover {
    opacity: 0.8;
}
  
/*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}
  
/*タブ切り替えの中身のスタイル*/
.tab_content {
    display: none;
    padding-top:40px;
    /* padding: 40px 40px 0; */
    clear: both;
    overflow: hidden;
}
  
  
/*選択されているタブのコンテンツのみを表示*/
#first:checked ~ #first_content,
#second:checked ~ #second_content,
#third:checked ~ #third_content {
    display: block;
}
  
/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
    background-color: #8e9292;
    color: #fff;
    opacity: 1;
}

/*タブのスタイル*/
.tab_item_index {
    width: 200px;
    height: 50px;
    /* border-bottom: 3px solid #5ab4bd; */
    background-color: #fff;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    cursor: pointer;
}

.tab_item_index:hover {
    opacity: 0.8;
}

.tabs input:checked + .tab_item_index {
    background-color: rgb(231, 228, 228);
    color:black;
    border-bottom-color: black;
    border-bottom: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
}



/* ------------------------------------テーブルについて--------------------------------------- */
table.chara-choice {
    border-collapse: collapse;
    border-spacing: 0px 0px;
    padding: 0;
    margin: 0;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------リストについて----------------------------------------------------- */
/* https://saruwakakun.com/html-css/reference/list-space */
ul.chara-icon-ul {
    margin-top: -3px;
    margin-bottom: -15px;
}

ul.chara-icon-ul li{
    padding-top : 8px;
    padding-bottom: 8px;
    width: auto;
} 

/* ---------------------------------------------横スクロール----------------------------------------------------------------- */

div.scr{
    overflow-x:auto;
    width: auto;
    height: auto;
}
