
/* ----------------------------------------------------------非表示→表示---------------------------------------------------------- */
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 15pt;
    font-weight: bold;
    width: 100pt;
    /* border:1pt solid; */
    display: block;
    /* border: solid 2px black; */
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

/* ----------------------------------------------表示→非表示----------------------------------------------------------- */
/* https://techacademy.jp/magazine/25173 */
.show_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.show_box label {
    /* padding: 15pt; */
    font-weight: bold;
    font-size: 25px;
    width:max-content;
    /* border:1pt solid; */
    display: block;
    /* border: solid 2px black; */
    cursor :pointer;
    /* padding-top: 0px; */
}

/*ボタンホバー時*/
.show_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.show_box input {
    display: none;
}

/*中身を表示にしておく*/
.show_box .show_hidden {
    /* height: 0; */
    padding: 0;
    overflow: hidden;
    /* opacity: 0; */
    transition: 0.8s;
    /* display: inline;  */
    border-left:thick solid #8f8c8c ;
    padding-left: 20px;
}

/*クリックで中身非表示*/
.show_box input:checked ~ .show_hidden {
    display: none;
}
/* ---------------------------------------リンクの色について ------------------------------------------------*/
/* https://techacademy.jp/magazine/21233 */
/* 訪問済みリンクの色を変えない */
a.no-color-change {
    color: blue;
}
/* カーソルが来たら色を変える */
a.no-color-change:hover {
    color: red;
}

/* ----------------------------------------------キャラアイコン-------------------------------------------------------------- */
/* http://www.stylish-style.com/csstec/base/position.html */
/* 目次ページでのアイコン */
.chara-icon {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 33%;
    max-width: 50px;
    margin-right: 0.5%;
    position: relative;
    top: 6px;
}

/* 各キャラの対策ページでのアイコン */
.chara-page-icon {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 33%;
    max-width: 100px;
    margin-right: 0.5%;
    position: relative;
    top: 14px;
}


