
/* ----------------------------------------------------------表示/非表示---------------------------------------------------------- */
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 15pt;
    font-weight: bold;
    width: 100pt;
    /* border:1pt solid; */
    display: block;
    /* border: solid 2px black; */
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

/* ---------------------------------------リンクの色について ------------------------------------------------*/
/* https://techacademy.jp/magazine/21233 */
/* 訪問済みリンクの色を変えない */
a.no-color-change {
    color: blue;
}
/* カーソルが来たら色を変える */
a.no-color-change:hover {
    color: red;
}

/* ----------------------------------------------キャラアイコン-------------------------------------------------------------- */
/* http://www.stylish-style.com/csstec/base/position.html */
.chara-icon {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 33%;
    max-width: 50px;
    margin-right: 0.5%;
    position: relative;
    top: 6px;
}

